.dashback_logout{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.profile{
    display: flex;
    margin-left: 300px;
}
.pic_username{
    display: flex;
}
.profile_username{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
}
.change_password{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.user_posts_head{
    display: flex;
    flex-direction: column;
    padding-left: 320px;
    padding-top: 20px;
}
.user_post{
    background-color:#EDEDED;
    height: 250px;
    width: 800px;
    margin-top: 10px;
}
.user_posts{
    height: 300px;
    width: 820px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}
.user_posts::-webkit-scrollbar{
    display: none;
}
.post_head{
    display: flex;
    margin-left: 20px;
    padding-top:20px ;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.post_content{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.post_view{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 40%;
   
}